{% extends "base.html" %}

{% block body %}

    <h2><a href="/user/{{ current_user.email }}">{{ current_user.pretty_name }}</a></h2>
    <p>currently
    {% if current_user.enabled %}
      enabled (<a class="light" href="?setenabled=0">disable</a>)
    {% else %}
      disabled (<a class="light" href="?setenabled=1">enable</a>)
    {% endif %}
    </p>

    <p>send your snippets to {{config.email_address}}!</p>
    <h3>Users</h3>
    <ul>
    {% for user in all_users %}
      <li><a href="/user/{{ user.0.email }}">{{ user.0.pretty_name }}</a></li>
    {% endfor %}
    </ul>


{% endblock %}
